html{
	height: 100%;
}

body{
   background-color: #FFFFFF;
   color: #000000;
}
h1{
	text-align: center;
}
.touroku{
	margin:0 auto;
	border: 1px solid #F52954;
	width: 260px;
	height: 300px;
	padding-left: 20px;
}
input{
	border:1px solid black;
}
.nameid{
	width: 200px;
}
.pass{
	width: 80px;
}
dt{
	/*margin-left: -120px;*/
	/*text-align: right;*/
}

@media screen and (max-width:606px){


}




