body{
	width: 100%;
	height: 10000px;
}

div.spacer_top{
	width: 100%;
	height: 25%;
	text-align: center;
	color: #3DFF28;
}
.spacer{
	height: 200px;
}

#expansion{
	
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;right: 50%; top:1000px;

}

#trigger01{
	
}

h1{
	display: inline-block;
	opacity: 0;
	font-size: 400px;
}

