body{													/*全体の背景の設定*/
	background-image: url(image/calen_back.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}

#menu_ber{
	width: 100%;
	height: 50px;
	padding-left: 10px;
}
#menu_ber h1{
	display: inline-block;
	margin-left: 10px;
	color: #FFFFFF;
}

#logout{
	display: inline-block;
	position: absolute; right: 5%; top: 20px;
	border: 1px solid #999;
	width: 100px;
	height: 30px;
}

table.calen {  font-size:20pt;
			   margin: 0 auto;
			   background-image: url()
			   border-collapse:collapse;
			 }

table.calen th { height:30px;
                 text-align: center;
                 color: #FFFFFF;
                   }

table.calen td { text-align:center;
				vertical-align: middle;
				 height:90px;
				 width:90px;
				 color: #FFFFFF;
				}

table.calen .sat { color:#4484FF; }

table.calen .satd { color:#4484FF; }

table.calen .sun { color:red; }

table.calen .sund { color:red; }

table.calen .today { background-color: #348385;
					font-weight:bold;
					}
table.calen tr.bg1 {
			color: #FFFFFF; 
		    text-align: center;
		    border-bottom:1px solid #ccc;
		}
table.calen tr.bg2{
	border-bottom:1px solid #ccc;
}
table.calen tr.daydate{
	border-bottom:1px dashed #ccc;
}

p#calen{
	margin: 0 auto;
	margin-top: 20px;
}


table.calen h6{
	color: black;
}


div.textinputs{										/********************************/
	width: 300px;
	height: 500px;
	background-color: #FFFFFF;
	background-image: url(back01.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 1em;

}

div.textinputs div+div{
	margin-top: 2em;
}

#inputmenu div#calendate{
	text-align: center;
	font-size: 20px;
	}

label {
	display: inline-block;							/* 入力画面の設定*/
	width: 90px;
	text-align: right;
}

#inputmenu input{
	font: 1em sans-serif;
	width: 150px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
}

#inputmenu textarea#msg {
	font: 1em sans-serif;
	width: 200px;
	height: 180px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	border: 1px solid #999;
	height: 5em;
	resize: vertical;

}													/*::::::::::::::::::::::::::::::::*/
div.button{
	padding-left: 20px;
	margin-left: 4em;
}
#calen input#next{									/*nextボタン*/
	margin-left: 100px;
	margin-bottom: 10px;
	background-color: #3B6E40;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 20px;
}

#calen input#back{
	margin-right: 100px;
	margin-bottom: 10px;
	background-color: #3B6E40;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 20px;
}


div.todolist{
	position: absolute; top: 140px;
	margin-left: 75%;
}

div.todolist th{
	color: red;
	background-color: black;
	text-align: center;
}

/*スクロール用*/
thead.scrollHead,tbody.scrollBody{
  display:block;
}
tbody.scrollBody{
  overflow-y:auto;
  height:227px;
}

#todotable{
	border-style: none;
}

/*幅調整*/
td,th{
  table-layout:fixed;
}
.tit{
  width:150px;
}
.ac1{
  width:80px;
}
.ac2{
  width:65px;
}



#todo{
	position: absolute;right: 20%; top:80px;
}

#change{
	position: absolute; right: 10px; top: 10px;
}

#tw2{
	position: absolute;right: 9.5%;top: 98px
}
#open{
	position: absolute;top:140px;
	margin-left: 75%;
	width: 200px;
	}
#tw{						/*Open Closeの設定*/
	color: red;
	font-size: 30px;
	border-radius: 100%;
	background-color: #FFFFFF;
	height: 40px;
	width: 40px;
	text-align: center;
	/*vertical-align: middle;*/
}

#todo div.text1{					/*出力画面の設定*/
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
	font: 1em sans-serif;
	width: 150px;
	background-color: #FFFFFF;
}

#todo div.text2{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #999;
    font: 1em sans-serif;
	width: 150px;
	height: 180px;
	background-color: #FFFFFF;
	word-wrap: break-word;
	overflow: auto;
}

span.showtext1{
	text-align: right;
	width: 90px;
	display: inline-block;
}									/*----------------*/

div.GroupBox{
	background-color: #FFFFFF;
	width: 300px;
	height: 440px;
	margin-right: 0px;
	top:100px;
	font-size: 15px;
	color: black;
	border: 1px solid #F52954;
	overflow-x: auto;
}

div.GroupBox .Grouplist{
	display: inline-block;
	overflow: auto;
	width: 255px;
	padding-left: 10px;
	vertical-align: middle;
	margin-bottom: 10px;
}

.delete_Group{

}

p#GroupEdit{
	margin-top: -40px;
	margin-right: 0px;
}

p#GroupEdit button{

}

div.Groupsection{
	position: absolute;
	right: 75%;
	top: 140px;
}
/*マウスの変化*/
.normal {cursor: pointer;} 	/*マウスの形を変えるための記述*/
.normal:hover { background-color: #DDDDDD }	 /*マウス操作による背景色の変更*/
.today {cursor: pointer;}
.today:hover { background-color: #DDDDDD }
.satd {cursor: pointer;}
.satd:hover { background-color: #DDDDDD }
.sund {cursor: pointer;}
.sund:hover { background-color: #DDDDDD }
#tw{cursor: pointer;}
#todolist td{cursor: pointer;}
#todolist td:hover { text-decoration: underline; }
